@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-150 hover:bg-purple-700 font-bold;
}

.btn-purple {
  @apply bg-noto-purple text-white;
}

body {
  background-color: #12141f;
}

html {
  scroll-behavior: smooth;
}

.cl-internal-b3fm6y {
  display: none;
}

.cl-rootBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-formButtonPrimary{
  border: 1px solid rgba(255,255,255,0.4) ;
}
